<div>
  <br>
<mat-card>

  <section class="mat-typography">
    <h3>Create A New User</h3>
  </section>

  <mat-divider></mat-divider>
  <br>
  
  <form [formGroup]= "createForm" class="create-form">

    <mat-form-field class="field-full-width">
      <input matInput placeholder="User Name" formControlName="name" #name>
    </mat-form-field>

     <mat-form-field class="field-full-width">
      <input matInput placeholder="CPR" formControlName="cpr" #cpr>
    </mat-form-field>

    <mat-form-field class="field-full-width">
        <input matInput placeholder="Diagnose" formControlName="diagnose" #diagnose>
      </mat-form-field>

   <mat-form-field class="field-full-width">
        <input matInput placeholder="Condition" formControlName="condition" #condition>
       </mat-form-field> 
 
      
   <mat-form-field class="field-full-width">
      <input matInput placeholder="Email" formControlName="email" #email>
    </mat-form-field>
    
    <mat-form-field class="field-full-width">
        <input matInput placeholder="Phone" formControlName="phone" #phone>
      </mat-form-field>

    
    <mat-divider></mat-divider>  
    <br>
    <button mat-raised-button color="accent" routerLink="/list">Back</button>
    <button type="submit" (click)="addUser(name.value, cpr.value, diagnose.value, condition.value, email.value, phone.value)"  mat-raised-button color="primary">Save</button>   

  </form> 
</mat-card>

</div> 